<ion-header>
  <page-header [title]="'Home'"></page-header>
</ion-header>


<ion-content style="background-color: lightgray">

      <div class="header-image"></div>
      <div class="main-content" text-wrap text-center>
        <img class="circular" [src]="user?.profileUrl?.url||'assets/img/default-avatar.png'">

          <p class="profile-description" text-capitalize>{{user?.name}}</p>
        <hr>
        <p no-lines style="font-size: 18px !important;font-weight: lighter !important;" >Total Assets <span *ngIf="assetHttpStatus==='resolved'"> ({{assets.length}})</span></p>
          <ion-spinner class="centered-spinner"
                       *ngIf="assetHttpStatus==='pending'">

          </ion-spinner>


            <canvas *ngIf="assetHttpStatus==='resolved'"
                    baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">

            </canvas>
        <hr>
        <p no-lines style="font-size: 18px !important;font-weight: lighter !important;" >Weather next 5 days</p>

              <canvas *ngIf="assetHttpStatus==='resolved'"
                      baseChart
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">

              </canvas>

      </div>




<!--  <ion-card (click)="assets()">
    <img src="assets/img/rice.jpg"/>
    <div class="card-title">{{'Assets'|translate}}</div>
    <div class="card-subtitle">{{'Total Assets Available'|translate}} <b style="font-size: 20px">
      &nbsp;{{totalAssets}}</b></div>
  </ion-card>

  <ion-card (click)="information()">
    <img src="assets/img/ContentAnalytics_illustration2.jpg"/>
    <div class="card-title">{{'Information'|translate}}</div>
    <div class="card-subtitle">{{'Current Temperature'|translate}}<b style="font-size: 20px">&nbsp;{{Date}}</b></div>
  </ion-card>-->

</ion-content>
