<ion-navbar color="headerColor" >
  <ion-title>{{title|translate}}</ion-title>
  <ion-buttons end>
    <!--<button ion-button icon-only (click)="wallet()">
      <ion-icon style="color:white" name="cash"></ion-icon>
    </button>-->
    <button *ngIf="showIcons" ion-button icon-only (click)="onSettings()" >
      <ion-icon style="color:white" name="settings"></ion-icon>
    </button>
    <button *ngIf="showIcons" ion-button icon-only>
      <ion-icon style="color:white" name="ios-notifications"></ion-icon>
    </button>
    <button *ngIf="showIcons" ion-button icon-only (click)="community()">
      <ion-icon style="color:white" name="md-chatboxes"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
