<ion-card text-center class="card-background" *ngIf="weatherHttpStatus==='resolved' && currentWeather ">
  <ion-card-content text-center no-padding>
    <ion-card-title>
      <h6 class="temp" *ngIf="currentWeather?.main?.temp">{{currentWeather?.name}},
        {{currentWeather?.sys?.country}}</h6>
    </ion-card-title>
    <h3 text-capitalize style="opacity: .6">{{currentWeather?.weather[0]?.description}}</h3>
  </ion-card-content>
  <hr>
  <ion-row align-items-center justify-content-center style="padding-bottom: 10px">
    <ion-col align-self-center no-padding>
      <div class="icon"><img style="display: inline; width: 50px;"
                             [src]="'http://openweathermap.org/img/w/'+currentWeather?.weather[0]?.icon+'.png'"
                             alt=""></div>
      <h3 class="temp" *ngIf="currentWeather?.main?.temp">{{currentWeather?.main?.temp}}&deg; C</h3>
    </ion-col>
    <ion-col align-self-center no-padding>
      <img style="width: 25px; padding-top: 14px; display: inline" src="assets/icon/windy.png">
      <h3 class="temp" *ngIf="currentWeather?.main?.temp" style="padding-top: 10px">{{currentWeather?.wind?.speed}}
        Km/hr</h3>
    </ion-col>
    <ion-col align-self-center no-padding>
      <img style="width: 25px; padding-top: 14px; display: inline" src="assets/icon/humidity.png">
      <h3 class="temp" *ngIf="currentWeather?.main?.temp" style="padding-top: 10px">{{currentWeather?.main?.humidity}}
        %</h3>
    </ion-col>
  </ion-row>
</ion-card>


<ion-card text-center class="card-background"
          *ngIf="weatherHttpStatus==='rejected' || (weatherHttpStatus==='resolved' && !currentWeather)">
  <ion-card-content text-center>
    <ion-card-title>
      <h4>Weather</h4>
    </ion-card-title>

    <p text-center style="opacity: 0.6">We could not get the weather. Make sure you have turned on your GPS</p>
  </ion-card-content>

</ion-card>
