page-farm-info {

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #eeebf4;
    -webkit-box-shadow: inset 0 -1px 0 0 #32db64;
    box-shadow: inset 0 0px 0 0 #eeebf4;
  }

  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: #eeebf4;
    -webkit-box-shadow: inset 0 -1px 0 0 #32db64;
    box-shadow: inset 0 0px 0 0 #eeebf4;
  }

}
