<ion-header>
  <ion-navbar no-border-bottom color="headerColor">
    <ion-title>
      {{'Asset Details'|translate}}
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top style="padding: 0px; min-height: 0px;">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="puppies">
        {{'Asset Info'|translate}}
      </ion-segment-button>
      <ion-segment-button value="kittens">
        {{'Evidence'|translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">

      <ion-list>
        <ion-label style="margin-bottom: 0px;margin-left: 16px; opacity: .4; ">
          {{'Asset category'|translate}}
        </ion-label>
        <ion-item>
          <ion-input type="text" [(ngModel)]="asset.category.level1 || asset.category" text-capitalize disabled></ion-input>
          <button ion-button clear item-end>{{'Level 1'|translate}}</button>
        </ion-item>
        <ion-item *ngIf="asset.category.level2">
          <ion-input type="text" [(ngModel)]="asset.category.level2" text-capitalize disabled></ion-input>
          <button ion-button clear item-end>{{'Level 2'|translate}}</button>
        </ion-item>
        <ion-item *ngIf="asset.category.level3">
          <ion-input type="text" [(ngModel)]="asset.category.level3" text-capitalize disabled></ion-input>
          <button ion-button clear item-end>{{'Level 3'|translate}}</button>
        </ion-item>
        <ion-item *ngIf="asset.category.level4">
          <ion-input type="text" [(ngModel)]="asset.category.level4" text-capitalize disabled></ion-input>
          <button ion-button clear item-end>{{'Level 4'|translate}}</button>
        </ion-item>
        <ion-item *ngIf="asset.category.level5">
          <ion-input type="text" [(ngModel)]="asset.category.level5" text-capitalize disabled></ion-input>
          <button ion-button clear item-end>{{'Level 5'|translate}}</button>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label floating>{{'Asset Name *'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="asset.name" text-capitalize></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'Expected Yield *'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="asset.expectedYield" text-capitalize name="expectedYield" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'Packaging *'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="asset.packaging" text-capitalize name="packaging"
                   required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'Expected harvest date'|translate}}</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY" max="2100-10-31" [(ngModel)]="asset.expectedHarvestDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'Health of Soil'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="asset.healthOfSoil" text-capitalize name="healthOfSoil"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'Land History'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="asset.landHistory" text-capitalize name="landHistory"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'Farm Investments'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="asset.farmInvestments" text-capitalize name="farmInvestments"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'Additional Information'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="asset.additionalInformation" text-capitalize name="additionalInformation"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'Asset Status'|translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="asset.status" text-capitalize disabled></ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <!--<ion-col>
            <button ion-button clear style="color: crimson; letter-spacing: 2px;" (click)="uploadPage()">
              +&nbsp; {{'Add Evidence'|translate}}
            </button>
          </ion-col>-->
          <ion-col text-right>
            <button ion-button color="primary" type="submit" [disabled]="false" (click)="verify()">
              {{registerPromise==='pending'?'Registering' :'Update'|translate}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list class="evidence" *ngSwitchCase="'kittens'">

      <ion-row>
        <ion-col>
            <ion-list-header >
              <div float-right>
                <button ion-button clear style="color: #519a48; letter-spacing: 2px; font-size: 16px" (click)="uploadPage()">
                  +&nbsp; {{'Add Evidences'}}
                </button>
              </div>
            </ion-list-header>

          <div text-center *ngIf="asset.evidences && !asset.evidences.length" >
            <h4 style="opacity: 0.6">No Evidences uploaded</h4>
          </div>

            <ion-slides #slides  loop="false" slidesPerView="2"  spaceBetween="10px">
              <ion-slide *ngFor="let evidence of asset.evidences">
                  <img [src]="serverUrl+evidence?.url" imageViewer/>

<!--
                  <figcaption>{{evidence?.date|moment}}</figcaption>
-->


              </ion-slide>
            </ion-slides>

          <ion-list-header>
            <div float-right>
              <button ion-button clear style="color: #519a48; letter-spacing: 2px;font-size: 16px; padding: 0px;" (click)="uploadPage()">
                +&nbsp; {{'Add Documents'}}
              </button>
            </div>
          </ion-list-header>

          <div text-center>
            <h4 style="opacity: 0.6">No Documents uploaded</h4>
          </div>


        </ion-col>
      </ion-row>



    </ion-list>
  </div>
</ion-content>
