<ion-header>
  <ion-navbar no-border-bottom color="headerColor">
    <ion-title>
      {{'Asset Details'|translate}}
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top style="padding: 0px; min-height: 0px;">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="puppies">
        {{'Asset Info'|translate}}
      </ion-segment-button>
      <ion-segment-button value="kittens">
        {{'Evidence'|translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">

      <!-- <ion-row no-padding (click)="onEdit()">
        <ion-col text-right no-padding>
          <button ion-button clear style="color: #519a48; margin-right: 8px; letter-spacing: 2px;">
            {{'Edit'|translate}}
          </button>
        </ion-col>
      </ion-row> -->

      <ion-list>
        <ion-label style="margin-bottom: 0px;margin-left: 16px; opacity: .4; ">
          {{'Asset category'|translate}}
        </ion-label>
        <ion-item>

          <ion-input type="text" (keyup)="onChange($event)" [(ngModel)]="asset.category.level1 || asset.category" text-capitalize disabled></ion-input>

          <button ion-button clear item-end>{{'Level 1'|translate}}</button>
        </ion-item>
        <ion-item *ngIf="asset.category.level2">
          <ion-input type="text" (keyup)="onChange($event)" [(ngModel)]="asset.category.level2" text-capitalize disabled></ion-input>
          <button ion-button clear item-end>{{'Level 2'|translate}}</button>
        </ion-item>
        <ion-item *ngIf="asset.category.level3">
          <ion-input type="text" (keyup)="onChange($event)" [(ngModel)]="asset.category.level3" text-capitalize disabled></ion-input>
          <button ion-button clear item-end>{{'Level 3'|translate}}</button>
        </ion-item>
        <ion-item *ngIf="asset.category.level4">
          <ion-input type="text" (keyup)="onChange($event)" [(ngModel)]="asset.category.level4" text-capitalize disabled></ion-input>
          <button ion-button clear item-end>{{'Level 4'|translate}}</button>
        </ion-item>
        <ion-item *ngIf="asset.category.level5">
          <ion-input type="text" (keyup)="onChange($event)" [(ngModel)]="asset.category.level5" text-capitalize disabled></ion-input>
          <button ion-button clear item-end>{{'Level 5'|translate}}</button>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label floating>{{'Asset Name *'|translate}}</ion-label>

        <!-- [readonly]="isEditable" -->
        <ion-input type="text" (keyup)="onChange($event)" [(ngModel)]="asset.name" text-capitalize required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'Grade *'|translate}}</ion-label>
        <ion-input type="text"

                   [(ngModel)]="asset.grade"
                   text-capitalize
                   (keyup)="onChange($event)"
                   name="grade"
                   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'Expected Yield *'|translate}}</ion-label>
        <ion-input type="text"
                   [(ngModel)]="asset.expectedYield"
                   text-capitalize name="expectedYield"
                   required
                   (keyup)="onChange($event)">
                  </ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'Packaging *'|translate}}</ion-label>
        <ion-input type="text"
                   [(ngModel)]="asset.packaging"
                   (keyup)="onChange($event)"
                   text-capitalize name="packaging">
                  </ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'Expected harvest date'|translate}}</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY"
                      (keyup)="onChange($event)"
                      pickerFormat="MMM DD, YYYY"
                      min="{{minDate}}"
                      max="2100-10-31"
                      (ngModelChange)="onDateChange($event)"
                      [(ngModel)]="asset.expectedHarvestDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'Health of Soil'|translate}}</ion-label>
        <ion-input type="text"
                   [(ngModel)]="asset.healthOfSoil"
                   text-capitalize
                   (keyup)="onChange($event)"
                   name="healthOfSoil"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'Land History'|translate}}</ion-label>
        <ion-input type="text"
                   [(ngModel)]="asset.landHistory"
                   text-capitalize
                   (keyup)="onChange($event)"
                   name="landHistory"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'Farm Investments'|translate}}</ion-label>
        <ion-input type="number"
                   [(ngModel)]="asset.farmInvestments"
                   text-capitalize
                   (keyup)="onChange($event)"
                   name="farmInvestments"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'Additional Information'|translate}}</ion-label>
        <ion-input type="text"
                   [(ngModel)]="asset.additionalInformation"
                   text-capitalize
                   (keyup)="onChange($event)"
                   name="additionalInformation"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{'Asset Status'|translate}}</ion-label>
        <ion-input type="text"
                   [(ngModel)]="asset.status"
                   text-capitalize
                   (keyup)="onChange($event)">
                  </ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col *ngIf="asset.status==='available'">
            <button ion-button style="width: 120px" class="btnHeight40Px" color="danger" (click)="verifyBeforeDelete()">
              {{registerPromise==='pending'?'Registering' :'DELETE'|translate}}
            </button>
          </ion-col>
          <ion-col text-right>
            <button ion-button style="width: 120px" class="btnHeight40Px" [disabled]="disabledButton" (click)="verifyBeforeUpdate()">
              {{registerPromise==='pending'?'Registering' :'SAVE'|translate}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list class="evidence" *ngSwitchCase="'kittens'">

      <ion-row>
        <ion-col>
          <ion-list-header>
            <div float-right>
              <button ion-button clear style="color: #519a48; letter-spacing: 2px; font-size: 16px"
                      (click)="presentActionSheet()">
                +&nbsp; {{'Add Evidences'|translate}}
              </button>
            </div>
          </ion-list-header>
          <div text-center *ngIf="!asset.evidences || (asset.evidences && !asset.evidences.length)">
            <img src="assets/icon/no-record.png">
            <h4 style="opacity: 0.6">{{'No Evidences uploaded'|translate}}</h4>
          </div>
          <ion-grid>
            <ion-row align-items-center justify-content-center>
              <ion-col col-auto align-self-center *ngFor="let evidence of asset.evidences;let i=index;">
                <div class="image">
                  <!--imageViewer-->
                  <img width="150" height="150" [src]="serverUrl+evidence.url" (click)="onImageClick(i,'evidences')" />
                  <span *ngIf="evidence.date">{{evidence.date|moment:true}} ago</span>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!--     <ion-slides #slides  loop="false" slidesPerView="2"  spaceBetween="10px" style="position: relative;top: -30px;">
                 <ion-slide *ngFor="let evidence of asset.evidences">
                     <img [src]="serverUrl+evidence.url" imageViewer/>

   &lt;!&ndash;
                     <figcaption>{{evidence?.date|moment}}</figcaption>
   &ndash;&gt;


                 </ion-slide>
               </ion-slides>-->

          <ion-list-header>
            <div float-right>
              <button ion-button clear style="color: #519a48; letter-spacing: 2px; font-size: 16px"
                      (click)="presentActionSheetDoc()">
                +&nbsp; {{'Add Documents'|translate}}
              </button>
            </div>
          </ion-list-header>
          <div text-center *ngIf="!asset.documents || (asset.documents && !asset.documents.length)">
            <img src="assets/icon/no-record.png">
            <h4 style="opacity: 0.6">{{'No Documents uploaded'| translate}}</h4>
          </div>
          <ion-grid>
            <ion-row align-items-center justify-content-center>
              <ion-col col-auto align-self-center *ngFor="let document of asset.documents;let i=index;">
                <div class="image">
                  <!-- imageViewer -->
                  <img width="150" height="150" [src]="serverUrl+document.url" (click)="onImageClick(i,'documents')"/>
                  <span *ngIf="document.date">{{document.date|moment:true}} ago</span>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-col>
      </ion-row>


    </ion-list>
  </div>
</ion-content>
